<div class="md:w-2/3 w-3/4 mx-auto mt-10">
  <app-search 
  [searchText]="searchText" 
  (search)="searchUsers($event)" 
  (resetSearch)="resetSearch()">
</app-search>
  
  
  <div class="mat-elevation-z8 mt-5 max-h-[73vh] overflow-auto max-w-4xl mx-auto p-4 shadow-2xl rounded-xl bg-gradient-to-b from-blue-50 to-blue-100" >
    <div class=" mb-3 flex justify-end">
      <button mat-fab extended routerLink="add">
        <mat-icon>add</mat-icon>
        Add User
      </button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
      </ng-container>
      
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
      </ng-container>
      
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
      
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
        <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="row._id">
              <mat-icon color="primary">visibility</mat-icon>
              <span class="ml-2">Show</span>
            </button>
            <button mat-menu-item [routerLink]="row._id+'/edit'">
              <mat-icon color="accent">edit</mat-icon>
              <span class="ml-2">Edit</span>
            </button>
            <button mat-menu-item (click)="deleteUser(row._id)">
              <mat-icon color="warn">delete</mat-icon>
              <span class="ml-2">Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No User found!</td>
      </tr>
    </table>
  
    <mat-paginator 
      [pageSizeOptions]="[5, 10, 25, 100]" 
      (page)="onPageChange($event)" 
      [length]="totalSizeUsers" 
      [pageSize]="currentSize"
      aria-label="Select page of users"></mat-paginator>
  </div>
  
  
</div>